<!-- PLANTILLA GENERAL -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>The Hack blog</title>
        {% block css %}
            <link rel="stylesheet" href="css/style.css" />
        {% endblock %}
    </head>
    <body>
        {% block cuerpo %}
        <header><h1><a href="index.php">The Hack blog</a></h1></header>
        <div id="container">
            <div id="main">
            {% block main %}{% endblock %}
            </div>
        </div>
        {% endblock %}
        <footer>Copyright © 2019 <span>The Hack Blog</span></footer>
    </body>
</html>