{% extends 'blogBase.html.twig' %}
{% block titulo %}Noticias{% endblock %}

{% block main %}
    <h2>Noticias</h2>
    <ul>
        {% for noticia in noticias %}
            <li><a href="{{ path('verNoticia', {'id': noticia.id}) }}">
                Noticia #{{ noticia.id }}
            </a></li>
        {% else %}
            <li>No hay apuestas</li>
        {% endfor %}
    </ul>
    <p><a href="{{ path('nuevaNoticia') }}">Añadir noticia</a></p>
{% endblock %} 