{% extends 'blogBase.html.twig' %}
{% block titulo %}Noticia{% endblock %}
{% block main %}
    <h2>Detalle de noticia</h2>
{% endblock %} 

{% block contenido %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}