{% extends 'blogBase.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="css/style.css" />
{% endblock %}
{% block main %}
    <h1>ÚLTIMAS ENTRADAS</h1>
    <p>Esta es la portada</p>
{% endblock %}